$black: #eee;
$white: #111;

$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;
// scss-docs-end gray-color-variables

// scss-docs-start color-variables
$blue:    #3e74c4 !default;
$indigo:  #51367e !default;
$purple:  #2c007e !default;
$pink:    #ff00cc !default;
$red:     #bd2727 !default;
$orange:  #e08700 !default;
$yellow:  #ecc900 !default;
$green:   #21af21 !default;
$teal:    #0e976e !default;
$cyan:    #4cc0c0 !default;

// scss-docs-start theme-color-variables
$primary:       $teal;
$secondary:     $indigo;
$success:       $green;
$info:          $cyan;
$warning:       $yellow;
$danger:        $red;
$light:         $gray-900;
$dark:          $gray-100;
// scss-docs-end theme-color-variables





@import "../z-BS5-scss/bootstrap.scss";