
$white:    #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black:    #000;
// scss-docs-end gray-color-variables

// scss-docs-start color-variables
$blue:    #3e74c4;
$indigo:  #51367e;
$purple:  #2c007e;
$pink:    #ff00cc;
$red:     #bd2727;
$orange:  #e08700;
$yellow:  #ecc900;
$green:   #21af21;
$teal:    #1ddd84;
$cyan:    #4cc0c0;

$black: #999;
$white: #000;


// scss-docs-start theme-color-variables
$primary:       $blue;
$secondary:     $indigo;
$success:       $green;
$info:          $cyan;
$warning:       $yellow;
$danger:        $red;
$light:         $gray-900;
$dark:          $gray-100;
// scss-docs-end theme-color-variables





@import "../z-BS5-scss/bootstrap.scss";
